h1 {
    font-size: 1.5em;
    border-bottom: 2px solid rgb(72, 93, 159);
    border-right: 2px solid rgb(118, 171, 228);
    border-radius: 5px;
    width: 500px;
    text-align: center;
    box-shadow: 1px 1px 2px #888888;
    margin-top: 10px;
    margin-left: 2px;
    padding: 10px;
}

.btn-danger {
    background-color: orange;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    padding: .1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
    padding: .1em;
    transition: 1s;
    border-radius: 5px;
    width: 4em;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px #888888;
}

.card:hover {
    transform: scale(1.1);
}

.iframe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5em;
    transition: 1s;
    border-radius: 5px;
    height: 275px;
    width: 275px;
}

.icon {
    height: 3em;
}

.icon-header {
    height: 1.5em;
}

.list-group-item {

}

.btn {
    font-weight: 700;
    border-radius: 50px;
    width: 15em;
    }
    
.btn-primary {
    background-color:#888888;
    border-color: #888888;
    }
    
.btn-primary:hover {
    background-color: #434140;
    border-color: #434140;
    border-width: 2px;
    }